<h1>Create a new Portfolio Item</h1>
<!-- @portfolio debe estar disponible desde el controller para poder usarlo aquí. -->

<%= render "form", portfolio_item: @portfolio_item %> <!-- #pasamos locals para la partial -->
