<!-- start of footer -->
<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <%= link_to "Ver todo el portafolio", portfolios_path %> / 
      <a href="#">Ir arriba</a>
    </p>
    <p><%= set_copyright %></p>
  </div>
</footer>
<!-- end of footer -->