<main role="main" class="inner cover">
  <h1 class="cover-heading">Mi CV</h1>
  <p class="lead">Mi pinshi CV alv homs</p>
  <p class="lead">
    <%= link_to "Acerca de mí", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>